Package: com.netease.cloudmusic
Name: neteasemusic
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: zyh
Author: zyh
Section: Tweaks
Version: 0.0.1-28+debug
Installed-Size: 88
